extends ../Layout/common
block  content
    h1 Create
    if err
        each er of err
            .alert.alert-danger=er

    form(action="/user/create", method="post" ,class="form-group")
        label(for="name") Name
        input#name.form-control(type="text", name="name", require)
        label(for="Phone") Phone
        input#phone.form-control(type="text", name="phone", value=value? value.phone : "")
        br
        br
        
        button.btn.btn-info Create