extends ../Layout/common
block  content
    .container
    h1 Create
    img(src="../Images/1.jpg", width="300px", height="150px")
    form(action="/user/search" method="Get" class="d-flex")
        input(type="text", name="q" class="form-control")
        button(class="btn btn-success") Search
    table.table
        tr
            th Name
            th Phone
            th Actions

        each use in user
            tr
                td=use.name 
                td=use.phone    
                td 
                    a.btn.btn-light(href="/user/" + use.id) View

    a.btn.btn-light(href="/user/search") Search 
    br
    hr
    a.btn.btn-light(href="/user/create") Create user